*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.box{
    font-size: 15px;
    width: 150px;
    height: 150px;
    margin: 3px;
    color: white;
    background-color: black;
}
.bothbox{
    display: flex;
}