*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    border:2px solid blue;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.container{
    height: 50vh;
    width: 100vh;
    border: 2px solid red;
    position: relative;
    top: 100px;
    background-color: rgba(0,0,0,.9);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.box{
    font-size: 15px;
    width: 150px;
    height: 150px;
    margin: 3px;
    color: white;
    background-color: black;
}
.bothbox{
    display: flex;
}