*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
}
.container{
    height: 90vh;
    width: 55vh;
    background-color: rgba(0,0,0,.9);
    display: flex;
    position: relative;

}
.box{
    font-size: 15px;
    margin: 3px;
    color: white;
    position: absolute;
    background-color: black;
}
.box2{
    bottom: 0;
    right: 0;
    width: 270px;
    height: 300px;
}
.box3{
    background-color: rgb(97, 100, 104);
    width: 220px;
    height: 200px;
    right: 0;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 10px;

}