*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
}
.container{
    height: 80vh;
    width: 45vh;
    background-color: rgba(26, 24, 24, 0.9);
    display: flex;
    position: relative;

}
.box{
    font-size: 15px;
    margin: 3px;
    color: white;
    position: absolute;
    background-color: black;
}
.box2{
    width: 200px;
    height: 250px;
    right: -100px;
    bottom: -1px;
}
.box3{
    background-color: rgb(154, 156, 158);
    width: 180px;
    height: 180px;
    right: -10px;
    bottom: -80px;

}