*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 80vh;
    width: 100vw;
    font-size: 15px;
    color: white;
}
.box{ 
    background-color: black;
    display: flex;
    width: 150px;
    height: 150px;
    position: absolute;
}
.box1{
}
.box2{
    background-color: rgb(154, 156, 158);
    left: 80px;
    top: 80px;
    z-index: 1;
}
.box3{
    left: 150px;
    top: 150px;
    z-index: 1;
}
.box4{
    background-color: rgb(154, 156, 158);
    left: 220px;
    top: 220px;
    z-index: 1;
}
.box5{
    left: 290px;
    top: 290px;
    z-index: 1;
}