*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    border: 2px solid red;
    position: relative;
}
.box{
    border: 2px solid blue;
    font-size: 15px;
    width: 30vw;
    height: 60vh;
    color: white;
    background-color: rgb(63, 56, 56);
    position: absolute;
    right: 0;
    display: flex;
    align-items: flex-end;
}
.sub-box{
    font-size: 15px;
    width: 170px;
    height: 170px;
    color: white;
    position: absolute; 
    background-color: rgb(10, 10, 10); 
}