*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    font-size: 15px;
    height: 500px;
    width: 800px;
    color: white;
    position: relative;
}
.box{ 
    width: 300px;
    height: 300px;
    background-color: rgb(20, 18, 18);
    position: absolute;
}
.box1{
    background-color: rgb(154, 156, 158);
}
.box2{
    width: 150px;
    height: 150px;
    right: 120px;
    top: 0;
}
.box3{
    width: 150px;
    height: 150px;
    left: 0;
    bottom: 0;
}
.box4{
    bottom: 0;
    right: 140px;
    background-color: rgb(154, 156, 158);
}