*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.container{
    height: 75vh;
    width: 100vh;
    top: 100px;
    background-color: rgba(0,0,0,.9);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
}
.box{
    font-size: 15px;
    width: 150px;
    height: 150px;
    color: white;
    background-color: black;
}