*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 250px;
    width: 250px;
    border: 2px solid red;
    position: relative;
}
.box1{
    font-size: 15px;
    width: 150px;
    height: 150px;
    color: white;
    background-color: black;
    /* position: absolute; */
}
.box2{
    font-size: 15px;
    width: 150px;
    height: 150px;
    color: white;
    background-color: rgb(44, 43, 43);
    position: absolute;
    right: 0px;
    bottom: 0px;
}