*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 80vh;
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    font-size: 15px;
    width: 110px;
    height: 110px;
    color: white;
    background-color: black;
}
.box1{ 
    position: absolute;
    right: 0;
    top: 0;
}
.box3{
    align-self: flex-end;
    justify-self: flex-start;
    position: absolute;
    left: 0;
}