*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
}
.container{
    height: 50vh;
    width: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,.9);
    display: flex;
    bottom:0;
    right:0;
}
.box{
    font-size: 15px;
    width: 150px;
    height: 150px;
    margin: 3px;
    color: white;
    background-color: black;
}
.box2{
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
}
.box3{
    display: flex;
    position: absolute;
    right: 0;
}