*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 60vh;
    width: 50vw;
    position: relative;
}
.box1{
    font-size: 15px;
    width: 50vw;
    height: 70vh;
    color: white;
    background-color: rgb(63, 56, 56);
    position: relative;
}
.box2{
    font-size: 15px;
    width: 170px;
    height: 170px;
    color: white;
    background-color: rgb(10, 10, 10);
    position: absolute;
    right: 0px;
    top: 0px;
}