*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
}
.container{
    height: 90vh;
    width: 50vh;
    background-color: rgba(0,0,0,.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.box{
    font-size: 15px;
    width: 190px;
    height: 170px;
    margin: 3px;
    color: white;
    background-color: black;
}
.box2{
    position: absolute;
    top:0;
}
.box3{
    position: absolute;
    bottom: 0;
}